<!-- <div >
    <div class="form-check">
        <input id="todoItem" (change)="onToggle(todo)" type="checkbox" class="form-check-input">
        <label [ngClass]="setClasses()" for="todoItem" class="form-check-label">{{todo.title}}</label>
        <button (click)="onDelete(todo)" type="button" class="btn btn-danger btn-sm">&times;</button>
    </div>
</div> -->

<td>
    <input (change)="onToggle(todo)" type="checkbox" class="form-check-input" [checked]="todo.completed">
</td>
<td>
    <label [ngClass]="setClasses()" class="form-check-label">{{todo.title}}</label>
</td>
<td>
    <button (click)="onDelete(todo)" type="button" class="btn btn-danger btn-sm">Delete</button>
</td>

