<div class="row">
  <div class="col bg-warning"></div>
  <div class="col-md-6 bg-success">
    <app-add-todo (addTodo)="addTodo($event)"></app-add-todo>

    <table class="table">
      <tbody>
        <tr app-todo class="table-light" *ngFor="let todo of myTodos" [todo]="todo" (deleteTodo)="deleteTodo($event)"
          (toggleTodo)="toggleTodo($event)">
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col bg-warning"></div>
</div>


<button (click)="goBack()" class="btn btn-info" type="button">Back</button>
